#map { 
    height: 500px; width: 500px;
    top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-items {

}

.one {
    width: 100px;
    height: 100px;
}
/* https://leafletjs.com/examples/quick-start/ */